.img-tarjeta
{
  height: 100px;
}

.img-carousel
{
  height: 300px;
}

.puntero-manito
{
  cursor: pointer;
}

.padding-alto
{
  padding-top: 40px;
}

.padding-alto2
{
  padding-top: 90px;
}

.hidden
{
  display:none;
}

.img-media
{
  width:800px;
  height: 500px
}

.img-lg
{
  width:500px;
  height: 200px
}

.img
{
  width:500px;
  height: 200px
}


.tarjeta
{

}


/*Hacer un poco mas grande la imagen cuando se posicione en ella*/
:hover.img-lg
{
  animation-name: pulse;
  animation-duration: 1s;
}


figure img
{
    /* Centrar imagenes dentro de los elementos Figure*/
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img-center
{
  display: block;
  margin-left: auto;
  margin-right: auto
}


/* ****************************** ANIIMACIONES ********************* */
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: 2s;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
  animation-duration: 1s;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 2s;
}
